# Archivos de dependencias de Composer y NPM
/node_modules
/vendor

# Laravel Framework
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
.env
.env.backup
.env.production
.phpunit.result.cache
/.phpunit.cache

# Archivos de Log y caché
/storage/logs
/bootstrap/cache/*.php

# IDE and editor directories
/.fleet
/.idea
/.nova
/.vscode
/.zed
.phpactor.json

# Archivos de configuración de herramientas locales
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json

# Archivos de servidor y copias de seguridad personalizadas
# Estos archivos no deben estar en el repositorio por seguridad y porque son específicos del entorno.
/backup_and_ftp.php
/---backup_and_ftp.php
/-backup_and_ftp.php
/copia.php
/copias-db/
/download_proxy.php
/public/phpinfo.php
/copia_error.log